/**
 * The `env()` function used in this block of code
 * allows us to reference special variables that might be defined
 * by certain browsers. In this case, we are making sure that
 * the app stays within the 'safe' viewable area of a mobile phone,
 * and isn't covered up by the phone's UI.
 *
 * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/env
 */
.Layout {
	display: flex;
	flex-direction: column;
	height: 100dvh;
	background-image: url('/img/Home-cover2.jpg') !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.Layout > * {
}

.Layout-header {
	background-color: var(--color-bg);
	text-align: center;

	@apply flex flex-col justify-center items-center;

}

.Layout-header > .login-user {
	padding: 15px 30px;
}

.Layout-header > .Layout-title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin: 0;
	font-size: 50px;
	color: #113f67;
	padding: 0 30px 30px;
	border-bottom: 1px solid var(--color-border);
}

.Layout-main {
	margin: 0 auto;
	padding-block: 0;
	padding-block-end: 6.26rem;
	width: 465, 641px;
}

.Nav {
	background-color: #113f67;
	border-top: 1px solid var(--color-border);
	display: flex;
	flex-direction: row;
	padding-bottom: max(env(safe-area-inset-bottom), 1rem);
	padding-top: 1rem;
	margin-bottom: 4rem;
	place-content: center;
	width: 100%;
}

.Nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: min(72ch, 100%);
}

.Nav-link {
	--color-text: #e7eaf6;
	color: var(--color-text);
	font-size: 1.4em;
	flex: 0 1 auto;
	line-height: 1;
	padding: 0.8rem;
	text-align: center;
	text-underline-offset: 0.1em;
}

.Nav-link:hover {
	color: #e69500;
	transition: all 0.3s ease-in-out;
}

.Nav-link.active {
	color: #e69500;
	text-decoration-thickness: 0.22em;
	text-underline-offset: 0.1em;
}
.btn1 {
	background-color: #a2a8d3;
	width: 10%;
	@apply p-1 lg:p-3 rounded-xl shadow-md font-bold text-black ml-4;
}
