input {
	background-color: rgba(0, 110, 255, 0.247);
}

.manage-list {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.459);
	padding: 30px;
}

#daysUntilNextPurchase {
	width: 90px !important;
}

.add-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
}

.share-list {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.share-list h1 {
	margin-bottom: 39px;
}

.share-list .submit-btn {
	margin-top: 96px;
}
